<div class="background-grey">

  <h1 class="page-header text-center">Les greffes</h1>

  <div class="container">
    <div class="row">
      <div class="col-md-12 background-white">
        <%= render partial: "greffes/presentation/table", locals:{greffes: @greffes} %>
        
      </div>
    </div>
  </div>

</div>
