<div class="form-group">
  <div>
    <strong>Grande image</strong>
  </div>
  <p>
    <%= image_tag(big_imageable.big_image_url, class: "img-fluid img-100") if big_imageable.big_image? %>
    <%= f.file_field :big_image %>
    <%= f.hidden_field :big_image_cache %>
    <% f.text_field :remote_big_image_url %>
  </p>

  <p>
    <label>
      <%= f.check_box :remove_big_image %>
      Supprimer l'image
    </label>
  </p>
</div>
