<div class="row">
	<div class="col-md-12 text-center">
		<div class="text-center pagination-hd">
			<%= will_paginate departments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer  %>
		</div>
	</div>
</div>

<div class="row">
	<%= render partial: "departments/presentation/panel", collection:  departments, as: :department %>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="text-center pagination-hd">
			<%= will_paginate departments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer  %>
		</div>
	</div>
</div>
