<div class="col-md-4 col-sm-6 col-12 mt-3">
  <div class="card-product background-white height-100p rounded border-shadow p-2">
        <%= link_to department, class: "white-link" do %>
        <div class="text-center text-bold color-text"><%= department.name %></div>
        <% end %>
  </div>
</div>
