<%= provide(:title, "Rendez-vous 100% Gratuit") %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Demande de rendez-vous</h1>
      <%= render partial: "recalls/form", locals:{recall: @recall, page_origin: @page_origin} %>
    </div>
  </div>
</div>
