<div class="col-md-4 col-sm-6 col-12 mt-3 ">
  <%= link_to city, class: "no-underline" do %>
  <div class="card-product background-white height-100p rounded border-shadow d-flex align-items-stretch">
    <div class="p-2">

      <div class="text-center text-bold mt-2 color-text"><%= city.name %> (<%= city.zipcode %>)</div>

    </div>
  </div>
  <% end %>
</div>
