<div class="container">
  <div class="row">
    <div class="col-12 w-100 text-center">
      <span class='extra-strong mb-4'>Economisez sur vos formalités de création d'entreprise.</span>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-6 w-50 text-center p-2">
      <p>Trouver un<span class='strong'>RCS</span> pour créer votre société en toute facilités !</p>
      <%= link_to redirection_go_path(url: "https://www.bankizy.com/formulaires-comparaison/3-bankizy-le-comparateur-de-Greffes"), class:'btn btn-primary btn-block btn-lg btn-wrap' do %>
      Trouver un greffe.
      <% end %>
    </div>
    <div class="col-6 w-50 text-center p-2">
      <p>Comment économisez sur vos formalités et gagner du temps ? C'est par ici:</p>
      <%= link_to "Formalités faciles !", home_recommended_greffes_path, class: 'btn btn-primary btn-block btn-lg btn-wrap' %>
    </div>
  </div>
</div>
