<div class="background-grey pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Nouvelle catégorie</h1>
        
        <%= render 'form', category: @category %>

        <%= link_to 'Back', categories_path %>

      </div>
    </div>
  </div>
</div>
