<div class="col-md-12 mt-3 ">
  <div class="background-white rounded border-shadow">
    <div class="p-2">
        <div class="mt-2 color-text"><i><%= l recommandation.created_at, format: :long %></i></div>
      <div class="text-bold mt-2 color-text"><i class="fa fa-user"></i> <%= recommandation.author%> <i class="fa fa-star"></i> <%= recommandation.rating%></div>
      <div class="mt-2 color-text"><%= recommandation.comment%></div>
    </div>
  </div>
</div>
